<br><br>
<section align="center" class="container bg-dark">
        <br><br/>
      <div class="logos">
        <a href="#"><i class="fa fa-facebook-square fa-2x logo"></i></a>
        <a href="#"><i class="fa fa-instagram fa-2x logo"></i></a>
        <a href="#"><i class="fa fa-twitter fa-2x logo"></i></a>
        <a href="#"><i class="fa fa-youtube fa-2x logo"></i></a>
      </div>
    <div class="sub-links text-white">
    <ul>
        <li><a href="#audio_and_subtitles">Audio and Subtitles</a></li>
        <li><a href="#audio_description">Audio Description</a></li>
        <li><a href="#help_center">Help Center</a></li>
        <li><a href="#gift_cards">Gift Cards</a></li>
        <li><a href="#media_center">Media Center</a></li>
        <li><a href="#investor_relations">Investor Relations</a></li>
        <li><a href="#jobs">Jobs</a></li>
        <li><a href="#terms_of_use">Terms of Use</a></li>
        <li><a href="#privacy">Privacy</a></li>
        <li><a href="#legal_notices">Legal Notices</a></li>
        <li><a href="#corporate_information">Corporate Information</a></li>
        <li><a href="#contact_us">Contact Us</a></li>
    </ul>
</div>
 <div>
        <p class="text-white">&copy 2023 Entertainix, Inc
            <a class="text-white" href="https://mdbootstrap.com/">An AVA copy 2023</a></p>
    </div>
        <br><br/>
    </section>
 </div>