{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<!--    <h1>Admin Page</h1>-->
    <a href="{% url 'creatorposts' %}" ><button type="button" class="btn btn-success">Back</button></a>
    <h1>Uploaded Movies</h1>
    <div class="row m-5">
        {% for posts in posts_list %}
            <div class="col-md-4 mb-4">
                {% if posts.Image %}
                    <img width="200" class="img-fluid" src="/media/{{ posts.Image }}" alt="{{ posts.title }}">
                {% endif %}
                <h3>{{ posts.title }}</h3>
                <h6>Duration: {{ posts.duration }} minutes</h6>
<!--                <h6>Cast: {{ posts.cast }}</h6>-->
                <h6>Genre: {{ posts.movie_genre }}</h6>
                <h6>Category: {{ posts.movie_media_genre }}</h6>
                <h6>Release Date: {{ posts.published_date }}</h6>
<!--                <h6>Trailer: {{ posts.video_url }}</h6>-->
                <a href="{% url 'home' %}post/{{ posts.id }}" ><button type="button" class="btn btn-danger">View</button></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}








