{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} USER REGISTRATION {% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Please Register</h3>
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {{ user_reg_form|crispy }}

                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'adminpage' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
{% endblock %}

